{{- if .Values.server.serviceAccount.enabled -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "boring-registry.serviceAccountName" . }}
  namespace: {{ include "boring-registry.namespace" . }}
  labels:
    {{- include "boring-registry.labels" . | nindent 4 }}
    {{- with .Values.server.serviceAccount.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.server.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
