name: Release Docs

on:
  push:
    tags:
      - "v*"

# disable permissions for all of the available permissions
permissions: {}

jobs:
  release-docs:
    permissions:
      contents: write  #  for mike to push
    name: release-docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: "./docs/requirements.txt"

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: 'go.mod'

      - run: |
          pip install -r docs/requirements.txt

      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: build and push
        run: |
          mike deploy ${{ github.ref_name }} latest --push --update-aliases
          mike set-default --push latest
