name: goreleaser

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v5
        with:
          go-version: ^1.23

      - name: Checkout
        uses: actions/checkout@v4

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
